In [11]:
import pandas as pd
import numpy as np

In [2]:
series=pd.Series([4,7,-5,3])
series

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
type(series)

pandas.core.series.Series

In [4]:
series.index=['a','b','c','d']
series

a    4
b    7
c   -5
d    3
dtype: int64

In [5]:
series['a']

4

In [6]:
series[['a','b']]

a    4
b    7
dtype: int64

In [7]:
baru=pd.Series([10,20,30])
baru

0    10
1    20
2    30
dtype: int64

In [8]:
baru[[2,1]]

2    30
1    20
dtype: int64

In [9]:
baru[baru>15]

1    20
2    30
dtype: int64

In [12]:
num=[1,2,3,np.nan,5,7]
num=pd.Series(num)
num

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    7.0
dtype: float64

In [13]:
num.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

In [14]:
num[num.isnull()]

3   NaN
dtype: float64

In [15]:
len(num)

6

In [18]:
hardware=['SSD','CPU','RAM','GPU','MONITOR']
hardware=pd.Series(hardware,index=range(len(hardware)))
hardware.index.name='Hardware'
hardware.name='LIST OF HARDWARE'
hardware

Hardware
0        SSD
1        CPU
2        RAM
3        GPU
4    MONITOR
Name: LIST OF HARDWARE, dtype: object