In [1]:
myDict={}
myDict

{}

In [5]:
myDict={1:1,2:2}
myDict[1]

1

In [7]:
studentDict={'Name':'iskandar', 
                      'course':'SCSP'}
studentDict

{'Name': 'iskandar', 'course': 'SCSP'}

In [11]:
studentDict.keys()

dict_keys(['Name', 'course'])

In [12]:
studentDict.values()

dict_values(['iskandar', 'SCSP'])

In [13]:
studentDict.items()

dict_items([('Name', 'iskandar'), ('course', 'SCSP')])

In [16]:
for x in studentDict.items():
    print(x)

('Name', 'iskandar')
('course', 'SCSP')

In [21]:
studentDict

{'age': 22}

In [22]:
studentDict={'Name':'iskandar', 
                      'course':'SCSP'}
studentDict

{'Name': 'iskandar', 'course': 'SCSP'}

In [24]:
studentDict['age']=22
studentDict

{'Name': 'iskandar', 'course': 'SCSP', 'age': 22}

In [25]:
studentCopy=studentDict.copy()
studentCopy

{'Name': 'iskandar', 'course': 'SCSP', 'age': 22}

In [28]:
studentCopy['temp']='trial'
studentCopy

{'Name': 'iskandar', 'course': 'SCSP', 'age': 22, 'temp': 'trial'}

In [29]:
studentDict

{'Name': 'iskandar', 'course': 'SCSP', 'age': 22}

In [30]:
len(studentDict)

3

In [31]:
len(studentCopy)

4

In [32]:
studentCopy.clear()

In [33]:
studentCopy

{}

In [34]:
studentDict

{'Name': 'iskandar', 'course': 'SCSP', 'age': 22}

In [35]:
studentDict.has_key('Name')

AttributeError: 'dict' object has no attribute 'has_key'

In [36]:
studentDict

{'Name': 'iskandar', 'course': 'SCSP', 'age': 22}

In [37]:
studentDict.has_key('course')

AttributeError: 'dict' object has no attribute 'has_key'

In [ ]:
#dictionaryName.get(search key,Defaullt values)

In [39]:
studentDict.get('Name','N/A')

'iskandar'

In [40]:
studentDict.get('Address','Not Available')

'Not Available'

In [44]:
for key in studentDict:
    print(key,studentDict[key])

Name iskandar
course SCSP
age 22

In [42]:
for x in studentDict:
    print(x,studentDict[x])

Name iskandar
course SCSP
age 22

In [45]:
mapping = dict(zip(range(5), reversed(range(5))))

mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [79]:
cart={'apple':12,
         'banana':1,
         'orange':2,
         'pear':10}

prices={'mango':12,
             'apple':2.5,
              'orange':5.5,
               'banana':3}

#write your code here
sum=0
for item in cart:
    if item in prices:
        sum=sum+(cart[item]*prices[item])
    else:
        sum+=cart[item]*1.0
        
print(f'total price im cart is {sum}')

total price im cart is 54.0

In [80]:
##SET##

In [81]:
numbers={1,2,3,3,3,4,7,7,5}
type(numbers)

set

In [82]:
numbers

{1, 2, 3, 4, 5, 7}

In [83]:
numbers_1={8,9,11,10}
print(numbers.union(numbers_1))

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}

In [84]:
print(numbers|numbers_1)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}

In [85]:
print(numbers&numbers_1)

set()

In [87]:
##List,Set and Dict Comprehensions

In [89]:
#for each item in numbers, 
#square it and add it to a new list squares
numbers=[1,2,3,4,5,6,7,8]
squared=[val**2 for val in numbers]
squared

[1, 4, 9, 16, 25, 36, 49, 64]

In [90]:
fruits=['banana','apple','cherry','lime','mango']
altered=[x.upper() for x in fruits if'a' in x]
altered

['BANANA', 'APPLE', 'MANGO']

In [92]:
fruits=['banana','apple','cherry','lime','mango']
[x.title() for x in fruits ]

['Banana', 'Apple', 'Cherry', 'Lime', 'Mango']

In [94]:
strings=['a','as','bat','car','dove','python']
[item.upper() for item in strings if len(item)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [95]:
myDict={'name':'iskandar','hobby':'coding'}
myDict

{'name': 'iskandar', 'hobby': 'coding'}

In [101]:
dict_comp={name:x.upper() for (name,x) in myDict.items()}
dict_comp

{'name': 'ISKANDAR', 'hobby': 'CODING'}

In [105]:
dict_comp2={key:value.upper() for (key,value) in myDict.items()}
dict_comp2

{'name': 'ISKANDAR', 'hobby': 'CODING'}

In [106]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

new_dict_1 = {k: ('old' if v > 40 else 'young')
    for (k, v) in original_dict.items()}
print(new_dict_1)

{'jack': 'young', 'michael': 'old', 'guido': 'old', 'john': 'young'}

In [107]:
num=13
'high scholl' if num>=13 else 'primary scholl'

'high scholl'

In [ ]:
#one line if-else statement

values when true if condition else value when false

In [110]:
'>10'if 20>10 else '<10'

'>10'